@import "global/variables";
@import "global/mixins";
@import "global/helpers";
@import "global/fonts";
@import "global/base";
@import "global/base-new";

@import "plugins/magnific-popup";

@import "components/vpress-bootstrap-btn-extensions"; 
@import "components/vpress-bg-colours";
@import "components/forms";
@import "components/discs";
@import "components/seq-tab-box";
@import "components/seq-table"; 
@import "components/seq-ctas";
@import "components/seq-list";
@import "components/seq-btn-bar";
@import "components/seq-btn-colours";
@import "components/seq-control-bar";
@import "components/seq-griddable-list";
@import "components/seq-breadcrumb";
@import "components/seq-date-block";
@import "components/seq-time-block";
@import "components/seq-circular-actions";
@import "components/seq-icons";
@import "components/seq-table-content";
@import "components/seq-resources";
@import "components/seq-layout-toggle";
@import "components/seq-popup";
@import "components/seq-pagination";


@import "sections/header";
@import "sections/sidebar";
@import "sections/banner";
@import "sections/content"; 
@import "sections/nav-lists";
@import "sections/related-products";
@import "sections/product-editor";

@import "pages/basket"; 
@import "pages/dashboard"; 
@import "pages/variable-data-product"; 
@import "pages/file-manager"; 
