* {
	@include box-sizing(border-box);
}

html, body {
    height: 100%;
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}


:focus, :active, :visited, :hover, .btn:focus {
    outline: none;
}

.form-control:focus {
    box-shadow: none;
}

#page {
    max-width: 980px;
    padding: 20px;
    margin: 0 auto;
}

.page-product-editor {
    background: #ebebeb;
}

::-webkit-input-placeholder {
    color: #363636;
}

:-moz-placeholder { /* Firefox 18- */
    color: #363636;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #363636;  
}

:-ms-input-placeholder {  
    color: #363636;  
}

ul {
    list-style: none;
}




/* vpress old styles */
#top-navigation {
    height: 60px;
    margin-bottom:0px;
}

#logo {
    padding: 0;
    margin: 0;
}

#logobar-grey {
    background-color: #363636;
    color: #d7d7d7;
}

.navbar-inverse {
    background-color: #363636;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    border: 0;
    border-radius: 0;
}

#username {
    padding: 25px 0;
}

.icon {
    font-size: 2.5em;
    font-weight: bold;
}

.stat {
    font-size: 2.0em;
    font-weight: bold;
}
/* end vpress old styles */






