:focus, :active, :visited, :hover, .btn:focus {
	outline: none;
}

.form-control:focus {
	box-shadow: none;
}

#page {
	max-width: 980px;
	padding: 20px;
	margin: 0 auto;
}

.page-product-editor {
	background: #ebebeb;
}

::-webkit-input-placeholder {
	color: #363636;
}

:-moz-placeholder { /* Firefox 18- */
	color: #363636;  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #363636;  
}

:-ms-input-placeholder {  
	color: #363636;  
}