
//Example Values
//$theme-color-one: $white;
//$theme-color-two: $white;
//$theme-color-three: $white;


//Main Theme Colours

$white: #ffffff;
$peach: #f26c4f;
$charcoal: #363636;
$cement: #9f9f9f;
$light-grey: #ebebeb;
$turquiose: #00a99d;

//Fonts
/*
$header-font: Georgia, Times, "Times New Roman", serif;
$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-colour: rgb(60, 60, 59);
*/

//Widths
//$site-max-width: 1200px;

//Breakpoints

//$break-m: 480px;
//$break-t: 768px;
//$break-d: 960px;


