.table-wrapper .btn-toolbar {
	display: none;
}


.seq-table-responsive[data-pattern="priority-columns"] {
	border: none;
	margin: 20px 0;

	.sticky-table-header {
		display: none; /* remove the header added in by bootstrap plugin */
	}

	.table {

		border: none;
		tr, td, th {
			border: none;
			text-align: left;
			white-space: normal !important; /* add this in to stop tables being verically scrollable */
		}

		tr {
			border-bottom: 3px solid #ebebeb;
		}

		th {
        	border-bottom: 6px solid #363636;
		}

		th, td {
			padding: 20px 10px;
		}

		tr td:first-child,
		tr th:first-child {
			padding-left: 0;
		}

		tr td:last-child,
		tr th:last-child {
			padding-right: 0;
		}
	}

}

.seq-th-hidden thead tr {
	display: none;
}

.seq-th-hidden[data-pattern="priority-columns"] .table tbody tr:first-child {
	border-top: 6px solid #ebebeb;
}



