.seq-tab-box {
    overflow: hidden;

    .seq-tab-nav {
        display: none;
        @extend .clear; 
    }

    .seq-tab-panel {
        position: relative;
        padding: 30px 0;

        &:before {
            content: '';
            width: 100%;
            height: 6px;
            position: absolute;
            top: -6px;
            background: #ebebeb;
            left: 0;
        }

    }

}

@media (min-width: 910px) {
    .seq-tab-box {
        .seq-tab-nav {
            display: block;
            position: relative;
            max-width: 640px;
            margin: 0 auto;
            padding: 0;

            li {
                float: left;
                text-align: center;
                padding: 0 20px 20px 20px;
                position: relative;

                .stat {
                    display: none;
                }

                .seq-icon {
                    text-align: center;
                    display: block;
                    border: solid 4px #b0b0b0;
                    color: #b0b0b0;
                    padding-top: 5px;
                    margin: 0 auto;

                    border-radius: 40px;
                    height: 80px;
                    width: 80px;
                }
                .seq-text {
                    font-size: 16px;
                    max-width: 120px;
                    padding: 20px 0 0 0;
                }
            }

            li.active {
                .seq-icon {
                    background: #00a99d;
                    border: solid 4px #00a99d;
                    color: #ffffff;
                }
                .seq-text {
                    color: #00a99d;
                }
                .seq-bar {
                    background: #00a99d;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 6px;
                    display: block;
                    z-index: 1;
                    &:after {
                        content: '';
                        background: url(../images/arrow-turqoise.png) no-repeat 0 0;
                        background-size: contain;
                        position: absolute;
                        width: 14px;
                        height: 7px;
                        left: 50%;
                        margin-left: -7px;
                        bottom: -7px;
                    }
                }
            }
            li:first-child.active {
                .seq-icon {
                    background: #f26c4f; 
                    border: solid 4px #f26c4f;
                }
                .seq-text {
                    color: #f26c4f;
                }
                .seq-bar {
                    background: #f26c4f; 
                    &:after {
                        content: ''; 
                        background-image: url(../images/arrow.png);
                    }
                }
            }   
        }
    }
}

@media (min-width: 1070px) {
    .seq-tab-box {
        .seq-tab-nav {

            li {
                padding: 0 20px 20px 20px;

                .stat {
                    display: block;
                    font-size: 2em;
                    font-weight: bold;
                }

                .seq-icon {
                    border-radius: 60px;
                    height: 120px;
                    width: 120px;
                }
                .seq-text {
                    font-size: 16px;
                    max-width: 120px;
                    padding: 20px 0 0 0;
                }
            }
        }
    }
}

