.seq-list {
	padding: 30px 0;

	.seq-item {
		background: #f2f2f2;
		@extend .clear;
		margin: 10px 0;
	}

	.seq-image {
		float: left;
		width: 20%;
		height: 100%;

		img {
			max-width: 100%;
			display: block;
		}
	}

	.seq-actions {
		float: right;
		width: 30%;
		padding: 20px 20px 20px 0;

		/*
		.btn-group {
			width: 100%;
		}
		.btn-dropdown {
			width: 80%;
		}
		.dropdown-toggle {
			width: 20%;
		}

		.dropdown-menu {
			left: auto;
			right: 0;
			min-width: 100%;
		}*/

		.btn-singular .btn {
			width: 100%;
		}


	}

	.seq-description {
		float: left;
		width: 50%;
		padding: 20px;
		p {
			color: #363636;
			font-size: 15px;
		}
	}

	.seq-prod-code {
		color: #aeaeae;
		font-size: 14px;
		margin: 0 0 10px 0;
	}

	.seq-title {
		font-size: 24px;
		margin: 0 0 10px 0;
	}

}



@media (min-width: 1070px) {

	.seq-list {
		.seq-text {
			max-width: 80%;
		}
		.seq-description {
			width: 60%;
		}
		.seq-actions {
			width: 20%;
		}
	}

}

@media (max-width: 480px) {
	.seq-list {
		.seq-image,
		.seq-description,
		.seq-actions {
			float: none;
			width: 100%;
			padding: 20px;
		}
	}
}

