.seq-jpg {
	position: relative;
	margin: 0 0 0 25px;
	&:before {
		content: '';
		background: url(../images/resource-jpg.png) no-repeat 0 0;
		width: 18px;
		height: 20px;
		position: absolute;
		left: -25px;
		background-size: contain;
	}
}

.seq-pdf {
	position: relative;
	margin: 0 0 0 25px;
	&:before {
		content: '';
		background: url(../images/resource-pdf.png) no-repeat 0 0;
		width: 18px;
		height: 20px;
		position: absolute;
		left: -25px;
		background-size: contain;
	}
}