.seq-box {
	background: #ffffff;
	border-radius: 4px;
	margin: 0 0 20px 0;

	.seq-title,
	.seq-sub-title {
		margin: 0;
		font-size: 15px;
	}
	.seq-title {
		font-size: 20px;
	}

	.seq-box-header {
		padding: 16px;
		border-bottom: 1px solid #ebebeb;
	}
	.seq-box-content .seq-inner {
		padding: 18px;
	}
}

.seq-faux-table {
	margin: 30px -18px -14px -18px;

	&-header {
		margin: 0;
		position: relative;
		top: 16px;
		font-size: 15px;
		font-weight: bold;
	}

	.seq-thead {
		background: #f6f6f6;
		margin: 0 0 2px 0;
	}


	.seq-tbody {
		height: 178px;
		overflow-y: hidden;
		position: relative;
		clear: both;
	}

	.seq-tr {
		overflow: hidden;
		border-top: 1px solid #ebebeb;

		&:first-child {
			border-top: none;
		}
	}

	.seq-th,
	.seq-td {
		width: 50%;
		float: left;
		border-left: 1px solid #ebebeb;
		padding: 12px 15px;
		text-align: center;
		font-weight: bold;

		&:first-child {
			border-left: none;
		}
	}

}


.seq-box-form {
	@extend .clear;
	.seq-box-form-field {
		margin: 15px 0;
		@extend .clear;
	}

	.seq-select {
		width: 100%;
		.dropdown-toggle {
			background: #ebebeb;
			border: none;
			border-radius: 0;
			padding: 8px 12px;
			text-align: left;
			box-shadow: none;
			color: #000;
			font-size: 14px;
		}
	}

	input[type="text"],
	textarea {
		width: 100%;
		background: #ebebeb;
		border: none;
		padding: 8px 12px;
		font-weight: bold;
	}
	textarea {
		min-height: 250px;
	}

	label {
		display: block;
		margin: 0 0 8px 0;
	}

	.btn {
		float: left;
		font-size: 22px;
		padding: 4px 12px;
		span {
			top: 3px;
		}
	}

	.btn + label {
		float: left;
		margin: 10px 14px;
	}
}


.js-toggle-box {

	header {
		position: relative;
		padding-right: 100px;
	}
	.js-toggle-trig {
		position: absolute;
		top: 20px;
		right: 15px;
		font-size: 0;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		cursor: pointer;

		&:before {
			content: "\e114";
			font-size: 16px;
		}

		&.active:before {
			content: "\e113";
		}
	}

	.js-popout-trig {
		background: url(../images/popout-toggle.png) no-repeat 0 0;
		background-size: contain;
		width: 18px;
		height: 16px;
		position: absolute;
		top: 21px;
		right: 45px;
		font-size: 0;
		cursor: pointer;
	}
}