.seq-table-responsive[data-pattern="priority-columns"] {
	
	.seq-td-width-30 {
		width: 30px;
	}

	.seq-td-width-60 {
		width: 60px;
	}

	.seq-td-width-90 {
		width: 60px;
	}

	.seq-td-width-120 {
		width: 120px;	
	}

	.seq-td-width-150 {
		width: 150px;	
	}

}