/*
@media (max-width: 767px) {
    .dashboard-circle {
        border: solid 4px #b0b0b0;
        border-radius: 60px;
        color: #b0b0b0;
        height: 80px;
        padding-top: 5px;
        width: 80px;
    }
 
    .dashboard-circle-orange {
        background-color: #f26c4f;
        border: solid 4px #f26c4f;
        border-radius: 60px;
        color: $white;
        height: 80px;
        padding-top: 5px;
        width: 80px;
    }
}

@media (min-width: 768px){

    
 
    .dashboard-circle {
        border: solid 4px #b0b0b0;
        border-radius: 60px;
        color: #b0b0b0;
        height: 120px;
        padding-top: 15px;
        width: 120px;
    }
 
    .dashboard-circle .stat, 
    .dashboard-circle-orange .stat {
        display: block;
    }
 
    .dashboard-circle-orange {
        background-color: #f26c4f;
        border: solid 4px #f26c4f;
        border-radius: 60px;
        color: $white;
        height: 120px;
        padding-top: 15px;
        width: 120px;
    }
}


@media (min-width: 768px) and (max-width: 979px) {

    .dashboard-circle {
        border: solid 4px #b0b0b0;
        border-radius: 40px;
        color: #b0b0b0;
        height: 80px;
        padding-top: 15px;
        width: 80px;
    }

    .dashboard-circle .stat, 
    .dashboard-circle-orange .stat {
        display:none;
    }
 
    .dashboard-circle-orange {
        background-color: #f26c4f;
        border: solid 4px #f26c4f;
        border-radius: 40px;
        color: $white;
        height: 80px;
        padding-top: 15px;
        width: 80px;
    }
}

@media (min-width: 1200px) {

    .dashboard-circle .stat, 
    .dashboard-circle-orange .stat {
        display:block;
    }
 
    .dashboard-circle {
        border: solid 4px #b0b0b0;
        border-radius: 60px;
        color: #b0b0b0;
        height: 120px;
        padding-top: 15px;
        width: 120px;
    }
     
    .dashboard-circle-orange {
        background-color: #f26c4f;
        border: solid 4px #f26c4f;
        border-radius: 60px;
        color: $white;
        height: 120px;
        padding-top: 5px;
        width: 120px;
    }

}
*/


