/* seq vdp search box */
#seq-vdp .seq-vdp-search {
    background: #eeeeee;
    padding: 15px;
    margin: 0 0 40px 0;

    .seq-filter {
        float: left;
        padding: 0 5px;
    }

    .seq-filter-row:first-child {
        background: #e2e1e1;
        padding: 10px 5px;
        @extend .clear; 

        .seq-filter {
            width: 23%;
        }
        .seq-filter:first-child {
            width: 33%;
        }
        .seq-filter:last-child {
            width: 44%;
        }
    }

    .seq-filter-row:last-child {
        padding: 20px 5px;
        @extend .clear; 

        .seq-filter:first-child {
            float: left;
            width: 23%;
        }
        .seq-filter:last-child {
            overflow: hidden;
            float: none;
        }

        .seq-filter .checkbox {
            margin: 0;
            label {
                padding: 0 20px 0 0;
                font-size: 15px;
            }
        }
    }

    .seq-filter .dropdown-menu {
        min-width: 100%;
        left: 5px;
    }

    .seq-filter button {
        background: #ffffff;
        border: 1px solid #d5d3d3;
        padding: 10px 12px;
        width: 100%;
        text-align: left;

        .caret {
            float: right;
            margin: 7px 0 0 0;
        }
    }

    .seq-filter input[type="text"] {
        width: 100%;
        border-radius: 0;
        border: 1px solid #d5d3d3;
        padding: 10px 12px;
        height: auto;
    }
}
/* end seq vdp search box */


#seq-vdp .seq-vdp-upload {
    background: #eeeeee;
    padding: 15px;
    margin: 0 0 40px 0;
    @extend .clear;
    > label {
        font-size: 22px;
        float: left;
        padding: 7px 10px 0 0;
        margin: 0;
        width: 25%;
    }
    > button {
        float: left;
        max-width: 15%;
        border-radius: 0 4px 4px 0;
        padding: 10px 15px;
        position: relative;
        left: -4px;
        max-height: 42px;
    }
    .bootstrap-filestyle {
        width: 60%;
        float: left;
    }
    .bootstrap-filestyle label {
        background: #f26c4f;
        color: #ffffff;
        border: #f26c4f;
        border-bottom: solid 2px #ca5c44;
        border-radius: 4px;
        text-align: left;
        margin: 0 21px 0 0;
        height: 40px;
        padding: 10px 20px;
    }
    .bootstrap-filestyle input[type="text"] {
        background: #ffffff;
        box-shadow: none;
        padding: 10px 12px;
        border: 1px solid #d5d3d3;
        height: auto;
        border-radius: none;
    }
}

/* bootstrap table style overrides */
/* to remove
#seq-vdp .fixed-table-container {
    border: none;
    tr:hover td,
    .selected td {
        background: #ffffff;
    }
    .th-inner {
        padding: 10px 0;
    }
    .order {
        display: none;
    }

    .pagination-info {
        display: none;
    }
}*/
/* end bootstrap table style overrides */

/* titles */
#seq-vdp .num {
    color: #f26c4f;
}
#seq-vdp h2 {
    margin: 20px 0;
}
/* end titles */


#seq-vdp .seq-pagination {
    position: absolute;
}


#seq-vdp .seq-vdp-summary {
    @extend .clear; 
    padding: 0 0 40px 0;
    border-bottom: 3px solid #f5f5f5;

    .seq-vdp-credit {
        text-align: right;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0 0 30px 0;
    } 

    .seq-vdp-price {
        @extend .clear;
        .seq-vdp-price-text {
            float: right;
            font-size: 20px;
            margin: 0;
            padding: 5px 20px 0 0;
            font-weight: bold;

            em {
                color: #f26c4f;
            }
        }
        .btn {
            float: right;
            border-radius: 4px;
        }

    }
}

#seq-vdp .seq-vdp-actions {
    padding: 30px 0;
    @extend .clear;
    .btn {
        float: right;
        min-width: 135px;
        text-align: center;
    }
}