#header-graphic {
    background-image: url(../images/header-image-small.jpg);
   /* background-attachment: fixed;*/
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #363636;
    color: $white;
    margin-top : 0;
    width: 100%;
    min-height: 200px;
    .inner {
        max-width: 980px;
        padding: 20px;
        margin: 0 auto;
        display: block;
    }


    .text {
        display: table-cell;
        vertical-align: middle; 
    }

    h1 {
        font-size: 40px;
        margin: 10px 0;
    }
    h4 {
        font-size: 12px;
        line-height: 1.3em;
    }

}

@media (min-width: 1070px) {
    #header-graphic {

        h1 {
            font-size: 60px;
        }
        h4 {
            font-size: 24px;
        }
    }
}



.page-dashboard  #header-graphic {
    background-image: url(../images/header-image.png);
    min-height: 200px;
}

@media (min-width: 1070px) {

    #header-graphic .inner {
        padding: 40px 20px 20px 20px;
    }
    .page-dashboard  #header-graphic .inner {
        padding: 20px;
    }

    .page-dashboard  #header-graphic {
        min-height: 400px;

        #no-summernote {
            padding: 60px 0 0 0;
        }
        
        h1 {
            font-size: 80px;
        }
    }
}

@media (min-width: 1400px) {
    #header-graphic {
        background-size: cover;
    }
}




