#seq-product-editor {
	padding: 0 0 60px 0;

	.seq-product-editor-inner {
		max-width: 980px;
		padding: 0 20px;
		margin: 0 auto;
		@extend .clear;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	.seq-product-editor-head {
		background: #ffffff;
		position: absolute;
		top: 120px;
		left: 0;
		right: 0;
		height: 60px;
	}
	.seq-product-editor-foot {
		background: #ffffff;
		/*position: fixed;*/
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 60px;
	}
	.seq-product-editor-main {
		padding: 60px 0 0 0;
		@extend .clear;
	}

	.seq-product-editor-col {
		overflow: hidden;
		padding: 0 0 0 40px;
	}
	.seq-product-editor-col:first-child {
		width: 500px;
		padding: 0;
		float: left;
	}


	.seq-interactive-image-controls {
		padding: 20px 0 25px 0;
		@extend .clear;
		li {
			background: #ffffff;
			border-radius: 4px;
			float: left;
			margin: 0 10px 0 0;
			width: 45px;
			height: 45px;
			text-indent: -5000em;
			font-size: 0;
			cursor: pointer;
			position: relative;

			.num {
				background: #f26c4f;
				border-radius: 13px;
				width: 26px;
				height: 26px;
				color: #ffffff;
				position: absolute;
				right: -13px;
				top: -13px;
				font-size: 14px;
				text-align: center;
				font-weight: bold;
				padding: 2px 0 0 0;
			}

			/*&:hover {
				background: #363636;
			}*/
		}
		li:after {
			background: url(../images/interactive-image-controls.png) no-repeat 0 0;
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			width: 25px;
			height: 26px;
			margin-top: -13px;
			margin-left: -13px;
		}
		.control-one {
			/*&:hover:after {
				background-position: 0 -26px;
			}*/
		}

		.control-two {
			&:after {
				background-position: -26px 0;
			}
			/*&:hover:after {
				background-position: -26px -26px;
			}*/
		}

		.control-three {
			&:after {
				width: 27px;
				background-position: -52px 0;
			}
			/*&:hover:after {
				background-position: -52px -26px;
			}*/
		}

		.control-four {
			&:after {
				width: 22px;
				background-position: -79px 0;
				margin-left: -11px;
				margin-top: -11px;
			}
			/*&:hover:after {
				background-position: -79px -26px;
			}*/
		}
	}

	.seq-interactive-image {
		background: #363636;
		width: 500px;
		min-height: 500px;
		img {
			width: 100%;
		}
	}

	.seq-product-editor-info {
		background: url(../images/interactive-editor-info.png) no-repeat 0 3px;	
		padding: 0 0 0 50px;
		margin: 20px 0;
		min-height: 50px;
	}

	.seq-product-editor-options {
		@extend .clear;
		li {
			background: #ebebeb;
			width: 54px;
			height: 54px;
			float: left;
			margin: 0 0 8px 8px;
			text-indent: -5000em;
			position: relative;
			cursor: pointer;

			.colour {
				background: #333333;
				position: absolute;
				top: 8px;
				left: 8px;
				right: 8px;
				bottom: 8px;
				border-radius: 23px;
			}
			.colour-one {
				background: #ffffff;
			}
			.colour-two {
				background: #959595;
			}
			.colour-three {
				background: #333333;
			}
			.colour-four {
				background: #189d9e;
			}
			.colour-five {
				background: #00aeef;
			}
			.colour-six {
				background: #f3ec1b;
			}
		}
		li:first-child {
			margin-left: 0;
		}
	}

	.seq-product-editor-title {
		background: #dadada;
		padding: 15px;
		margin: 0 0 20px 0;

		small {
			color: #aeaeae;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
		}
		h2 {
			font-size: 30px;
			margin: 5px 0 0 0;
		}
	}

	

	
	.seq-product-editor-actions {
		float: right;
		padding: 13px 0 0 0;
		li {
			float: left;
			padding: 0 0 0 10px;
		}
		li:first-child {
			padding-left: 0;
		}
	}

	/*
	.seq-product-editor-user-controls  {
		float: left;
		border-left: 1px solid #d7d7d7;
		.pagination {
			float: left;
			border-radius: 0;
			padding: 13px 0 0 0;
			border-right: 1px solid #d7d7d7;
			height: 60px;
			li {
				float: left;
				background: #eeeeee;
				border-radius: 4px;
				a, a:hover {
					background: none;
				}
			}
			li.prev, li.next {
				background: none;
			}
		}
		.page-layout {
			float: left;
			padding: 18px 10px 0 10px;
			border-right: 1px solid #d7d7d7;
			height: 60px;
			li {
				padding: 0 10px;
			}
			li, a {
				float: left;
			}
			.page-layout-one a {
				background: url(../images/editor-layout-1.png) no-repeat 0 0;
				width: 26px;
				height: 22px;
			}
			.page-layout-two a {
				background: url(../images/editor-layout-2.png) no-repeat 0 0;
				width: 25px;
				height: 22px;
			}
			.page-layout-one.active a,
			.page-layout-two.active a,
			.page-layout-one a:hover,
			.page-layout-two a:hover {
				background-position: 0 -22px;
			}
		}
	}
	*/



	

	.tooltip-inner {
		background: #2f2f2f;
		padding: 10px;
		font-size: 14px;
	}

	/* Order Selected */
	.address-info {
		overflow: hidden;
		padding: 20px 0 0 0;

		.address {
			float: left;
			width: 50%;
			clear: both;
		}

		.add-link {
			overflow: hidden;
			text-align: right;
			a {
				color: #363636;
				font-weight: bold;
				font-size: 15px;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.update-quantity {
		@extend .clear;
		margin: 0;

		.seq-box-form-field {
			float: left;
			width: 170px;
			margin: 0;
		}
		.info {
			font-weight: bold;
			display: block;
			padding: 4px 0 0 1px;
		}
		.result {
			overflow: hidden;
			padding: 3px 10px 0 10px;
			font-size: 20px;
			font-weight: bold;			
		}
	}

	.info-row {
		border-top: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		overflow: hidden;
		padding: 10px 0;
		margin: 10px 0;
		p {
			margin: 3px 0;
			overflow: hidden;
			font-weight: bold;
		}
		.glyphicon {
			background: #8dc63f;
			color: #ffffff;
			float: left;
			width: auto;
			padding: 6px;
			border-radius: 13px;
			margin: 0 8px 0 0;
		}
	}
	/* End order selected */

}

#seq-product-editor .is-sticky .seq-product-editor-head.js-sticky-header {
	background: #434343;
	left: auto;
	right: 0;
	z-index: 1;
	color: #ffffff;

	.seq-word-pagination-right .current {
		color: #ffffff;
	}
	.seq-word-pagination .next a,
	.seq-word-pagination .prev a {
		color: #ffffff;
	}
}

#seq-product-editor .is-sticky + .seq-product-editor-main .seq-interactive-image-controls {
	position: fixed;
	top: 0;
	z-index: 2;
	margin: 0 0 0 165px;
	padding: 10px 0;
}

@media (max-width: 767px) {
	#seq-product-editor {
		.seq-product-editor-col,
		.seq-product-editor-col:first-child {
			width: 100%;
			float: none;
			margin-bottom: 20px;
			padding: 0;
		}
		.seq-product-editor-col:first-child {
			padding: 0;
		}

	}

	#seq-product-editor .is-sticky .seq-product-editor-head.js-sticky-header {
		position: absolute !important;
		left: 0 !important;
		right: 0 !important; 
		top: 120px !important;
		width: 100% !important;
	}
	#seq-product-editor .seq-interactive-image {
		position: static !important;
		top: 0 !important;
		width: 100% !important;
	}

	#seq-product-editor .is-sticky + .seq-product-editor-main .seq-interactive-image-controls {
		position: static;
		top: 0;
		z-index: 2;
		margin: 0;
		padding: 20px 0 25px 0;
	}
}